@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// @media screen and (max-width: 1060px)

$font: "Rubik", sans-serif;
$black: #222C54;
$lightGrey: #EFEFEF;
$lightWhite: #F7F7F7;
$mainGreen: #58D22D;
$markRed: #FC2B5D;
$linkBlue: #0FABEE;
$mainGradient: linear-gradient(90deg, #09C272 0%, #7ED63E 100%);

body, *{
  padding: 0;
  margin: 0;
  font-family: $font;
}

.container{
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.navigation_top{
  background: $lightWhite;
  padding: 13px 0;
  height: 45px;
  box-sizing: border-box;
  //position: absolute;
  width: 100%;
  border-bottom: 1px solid #EFEFEF;
  .container{
    display: flex;
    justify-content: space-between;
    ul{
      display: flex;
      align-items: center;
      gap: 25px;
      list-style: none;
      @media screen and (max-width: 480px){
        gap: 15px;
      }
      a{
        text-decoration: none;
        color: $black;
        font-weight: 500;
        &.mark{
          color: $markRed;
        }
        @media screen and (max-width: 480px){
          font-size: 14px;
        }
      }
    }
  }
}

.navigation{
  display: flex;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background: $lightWhite;
  padding: 13px 0;
  z-index: 5;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left{
    display: flex;
    align-items: center;
    gap: 20px;
    .logo{
      width: 200px;
      @media screen and (max-width: 850px){
        width: 150px;
      }
    }
    ul{
      display: flex;
      align-items: center;
      gap: 25px;
      list-style: none;
      @media screen and (max-width: 850px){
        display: none;
      }
      a{
        text-decoration: none;
        color: $black;
        font-weight: 500;
        &.mark{
          color: $markRed;
        }
      }
    }
  }
  &__right{
    display: flex;
    align-items: center;
    gap: 25px;
    a{
      color: $black;
      text-decoration: none;
      font-weight: 500;
      @media screen and (max-width: 850px){
        display: none;
      }
    }
    &__cart-opener{
      height: 50px;
      width: 50px;
      background: $lightGrey;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      @media screen and (max-width: 850px){
        display: none;
      }
      svg{
        color: $black;
      }
      &__count{
        position: absolute;
        height: 23px;
        min-width: 23px;
        background: $mainGreen;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        font-weight: 500;
        color: #fff;
        box-sizing: border-box;
        padding: 0 4px;
        font-size: 12px;
        top: 0;
        left: -10px;
      }
    }
  }
  &__language{
    position: relative;

    &-opener{
      text-align: center;
      cursor: pointer;
      width: 20px;
      text-transform: uppercase;
    }
    &-list{
      display: flex;
      flex-direction: column;
      position: absolute;
      margin-top: 5px;
      left: -15px;
      p{
        padding: 5px 15px;
        cursor: pointer;
        text-transform: uppercase;

        &:last-child{
          border-top: 1px solid $black;
        }
        &:hover{
          color: $mainGreen;
        }
      }
    }
  }

  @keyframes openMob {
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(0);
    }
  }

  .mob-menu-opener{
    display: none;
    height: 40px;
    width: 40px;
    @media screen and (max-width: 850px){
      display: block;
    }
  }

  &__mobile{
    position: fixed;
    top: 0;
    right: 0;
    background: $lightWhite;
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 0;
    animation: openMob 0.5s 0s reverse;

    @media screen and (min-width: 850px){
      display: none;
    }
    @media screen and (max-width: 500px){
      width: 70%;
    }
    &.open{
      animation: openMob 0.6s 0s forwards;
    }

    .close-icon{
      align-self: flex-start;
      margin-left: 20px;
      height: 40px;
      width: 40px;
    }
    *{
      color: $black;
    }
    ul{
      list-style: none;
      margin-top: -20px;
      li{
        font-size: 20px;
        text-align: center;
        line-height: 40px;
        .mark{
          color: $markRed;
        }
      }
    }
    a{
      text-decoration: none;
    }
  }
}

.card{
  width: 250px;
  min-width: 250px;
  background-color: $lightWhite;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
  &__img{
    height: 150px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text{
    color: $black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 130px;
    h4{
      font-weight: 400;
      text-transform: capitalize;
      font-size: 22px;
    }
    p{
      color: #9FA1AE;
      font-size: 14px;
    }
    b{
      font-size: 22px;
      font-weight: 500;
      span{
        font-size: 14px;
      }
    }
    .discount{
      display: block;
      text-decoration: line-through;
      color: $markRed;
      font-size: 13px;
    }
  }
  &__addCart{
    width: 50px;
    height: 50px;
    background: $mainGradient;
    border-radius: 100%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg{
      color: #fff;
    }
  }
  &__favorite{
    width: 30px;
    height: 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 100%;
    svg{
      width: 20px;
    }
  }
  &:hover{
    box-shadow: 0 40px 120px 0 rgba(71, 0, 95, 0.14);
  }
}

.popup{
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  z-index: 10;
  top: 30px;
  justify-content: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  gap: 10px;
  filter: drop-shadow(0 40px 120px rgba(71, 0, 95, 0.17));
  padding-left: 50px;
  &__box{
    background: #fff;
    padding: 15px;
    border-radius: 15px;
  }
  &__close{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 100%;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
  }
}

.footer__cont{
  border-top: 2px solid $lightGrey;
  margin-top: 100px;
  @media screen and (max-width: 900px){
    margin-top: 60px;
  }
}

.top__side {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 960px) {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  .social__media {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media screen and (max-width: 960px) {
      align-items: center;
    }
    p {
      color: $black;
      font-weight: 400;
      @media screen and (max-width: 960px) {
        text-align: center;
      }
    }
    div {
      display: flex;
      gap: 20px;
      a{
        background: $lightGrey;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 10px;
        img{
          height: 35px;
        }
      }
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .footer__logo {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 250px;
      @media screen and (max-width: 960px) {
        align-items: center;
      }
      img {
        width: 170px;
      }
      p {
        color: #888CA5;
        font-size: 14px;
        width: 80%;
        @media screen and (max-width: 960px) {
          text-align: center;
        }
      }
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    gap: 70px;
    .links__box {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .footer__title {
        display: flex;
        justify-content: center;
        p {
          font-weight: 400;
        }
      }

      .footer__links {
        display: flex;
        justify-content: center;
        gap: 40px;
        @media screen and (max-width: 600px) {
          gap: 20px;
        }

        @media screen and (max-width: 400px) {
          flex-direction: column;
          align-items: center;
        }
        a {
          text-decoration: none;
          color: #888CA5;
        }
      }
      .circle {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: $mainGreen;
        align-self: center;
      }
    }
  }

  .right {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .contacts {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: end;
      @media screen and (max-width: 960px) {
        align-items: center;
      }
      a {
        font-weight: 500;
        color: $linkBlue;
      }
      .phone {
        font-weight: 400;
        font-size: 18px;
      }
      .text {
        font-size: 15px;
        color: #888CA5;
        text-align: end;
        @media screen and (max-width: 960px) {
          text-align: center;
        }
      }
    }

    .apps {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 20px;
      @media screen and (max-width: 960px) {
        align-items: center;
      }
      p {
        font-weight: 500;
        color: $black;
      }

      div {
        display: flex;
        gap: 15px;
      }
    }
  }
}

.bottom__side {
  height: 50px;
  background-color: $mainGreen;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-weight: 300;
    color: #FFFFFF;
  }
}

.home{
  background: #fff;
  &__slider{
    width: 100%;
    margin-top: 40px;
    .carousel-status{
      display: none !important;
    }
    .control-dots{
      .dot{
        box-shadow: none !important;
      }
    }
    .carousel .slider-wrapper.axis-horizontal .slider{
      //gap: 15px;
    }
    &__slide{
      width: 100%;
      height: 400px;
      overflow: hidden;
      box-sizing: border-box;
      padding: 0 15px;
      cursor: pointer;
      img{
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 20px;
      }
    }
  }

  .category{
    margin-top: 80px;
    h2{
      text-align: center;
    }
    &__box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $lightGrey;
      padding: 25px;
      gap: 20px;
      border-radius: 40px;
      margin-top: 60px;
      &__item{
        width: 100%;
        background: #fff;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.2s;
        &:hover{
          box-shadow: 0 40px 120px 0 rgba(71, 0, 95, 0.14);
        }
        img{
          width: 130px;
        }
        p{
          color: #696683;
          font-weight: 500;
          margin-top: 10px;
        }

        @media screen and (max-width: 1060px){
          width: 100%;
          height: 100px;
          img{
            width: 70px;
          }
          p{
            font-size: 14px;
          }
        }
      }
      @media screen and (max-width: 1060px){
        padding: 15px;
        border-radius: 30px;
      }
      @media screen and (max-width: 830px){
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
      }
    }
  }

  .info_block{
    margin-top: 80px;
    h2{
      text-align: center;
    }
    &__box{
      display: flex;
      justify-content: space-between;
      //background: $lightGrey;
      gap: 20px;
      border-radius: 40px;
      margin-top: 60px;
      flex-wrap: wrap;
      @media screen and (max-width: 390px){
        flex-direction: column;
      }
      span{
        width: 10px;
        height: 10px;
        display: block;
        background: $black;
        border-radius: 100%;
        align-self: center;
        @media screen and (max-width: 1040px){
          display: none;
        }
        @media screen and (max-width: 390px){
          display: block;
          height: 5px;
          width: 15px;
          border-radius: 10px;
        }
      }
      &__item{
        width: 150px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        @media screen and (max-width: 940px){
          width: calc(50% - 40px);
        }
        @media screen and (max-width: 450px){
          width: 100px;
        }
        @media screen and (max-width: 390px){
          flex-direction: row;
          width: 100%;
          padding: 0;
          gap: 15px;
        }
        img{
          border-radius: 100%;
          width: 100%;
          box-sizing: border-box;
          padding: 10px;
          background: #fbfbfb;
          @media screen and (max-width: 940px){
            width: 150px;
          }
          @media screen and (max-width: 450px){
            width: 100px;
          }
        }
        p{
          text-align: center;
          margin-top: 20px;
          color: #696683;
          line-height: 25px;
          @media screen and (max-width: 940px){
            max-width: 150px;
          }
          @media screen and (max-width: 450px){
            font-size: 13px;
            line-height: 20px;
          }
          @media screen and (max-width: 390px){
            max-width: fit-content;
            margin-top: 0;
          }
        }
      }
    }
  }

  .bonus_info{
    width: 100%;
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 200px;
    &__box{
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      width: 100%;
      &__text{
        width: 400px;
        color: #fff;
        margin-top: 50px;
        a{
          text-decoration: none;
          background: #fff;
          padding: 10px 20px;
          border-radius: 30px;
          display: flex;
          align-items: center;
          width: fit-content;
          gap: 10px;
          color: $black;
          margin-top: 20px;
          @media screen and (max-width: 410px){
            margin: 20px auto 0;
          }
        }
        @media screen and (max-width: 860px){
          margin-top: 20px;
        }
        @media screen and (max-width: 410px){
          width: 90%;
          text-align: center;
        }
      }
      p{
        font-size: 16px;
        margin: 10px 0;
        line-height: 25px;
      }
      @media screen and (max-width: 860px){
        flex-direction: column;
        gap: 0;
        margin-bottom: 30px;
      }
    }
    &__bg{
      width: 100%;
      height: 300px;
      @media screen and (max-width: 860px){
        height: 400px;
        flex-direction: column;
        gap: 0;
      }
      background-image: url("../images/phone_bg.svg");
      position: absolute;
      bottom: 0;
      border-radius: 40px;
      @media screen and (max-width: 860px){
        background-size: cover;
      }
      @media screen and (max-width: 1060px){
        border-radius: 30px;
      }
    }

    @media screen and (max-width: 860px){
      height: fit-content;
      margin-top: 50px;
    }
  }

  .quick_menu{
    margin-top: 80px;
    position: relative;
    h2{
      text-align: center;
    }

    &__box{
      display: flex;
      gap: 30px;
      overflow-x: scroll;
      width: 100%;
      margin-top: 50px;
      padding-bottom: 30px;
      scroll-behavior: smooth;
      &::-webkit-scrollbar{
        opacity: 0;
      }
      &__arrows{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        bottom: 45%;
        z-index: 1;
        //padding: 0 10px;
        box-sizing: border-box;
        .arrow{
          color: $mainGreen;
          width: 50px;
          height: 50px;
          cursor: pointer;
        }
      }
    }
  }
}

.user_home{
  .MuiLinearProgress-barColorPrimary{
    background: $mainGreen;
  }
  .MuiLinearProgress-colorPrimary{
    background: rgba($black, 0.2);
  }

  .referral_qr{
    h3{
      text-align: center;
      font-weight: 500;
    }
    &__qr{
      width: 180px;
      height: 180px;
      margin: 15px auto 0;
      display: block;
    }
  }

  .bonus{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
    @media screen and (max-width: 900px){
      flex-direction: column;
    }
    &__card{
      width: 400px;
      position: relative;
      transition: 0.2s;
      cursor: pointer;
      @media screen and (max-width: 450px){
        width: 100%;
      }
      &:hover{
        filter: drop-shadow(0 40px 120px rgba(71, 0, 95, 0.14));
      }
      p{
        position: absolute;
        color: #fff;
        top: 25%;
        right: 0;
        left: 0;
        margin: 0 auto;
        z-index: 1;
        font-weight: 500;
        text-align: center;
        font-size: 23px;
      }
      .id{
        position: absolute;
        color: #fff;
        top: 15px;
        right: 15px;
        z-index: 1;
        font-weight: 500;
      }
      .barcode{
        width: 70%;
        bottom: 8%;
        position: absolute;
        z-index: 1;
        margin: 0 auto;
        left: 0;
        right: 0;
        background: #fff;
      }
      .cardb{
        width: 100%;
      }
    }

    &__content{
      width: 400px;
      @media screen and (max-width: 450px){
        width: 100%;
      }
      ul{
        li{
          list-style: none;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 15px;
          span{
            font-weight: 500;
          }
          &:first-child{
            span{
              color: $markRed;
            }
          }
        }
      }
      &__prices{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-top: 5px;
      }
      p{
        margin-top: 20px;
        font-size: 16px;
      }
      button{
        padding: 10px 20px;
        border: none;
        background: $mainGradient;
        color: #fff;
        border-radius: 20px;
        font-size: 15px;
        margin-top: 15px;
        cursor: pointer;
        @media screen and (max-width: 900px){
          display: block;
          margin: 15px auto 0;
          text-align: center;
        }
      }
    }
    &__referral{
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
      svg{
        &:first-child{
          color: $linkBlue;
        }
        &:last-child{
          width: 30px;
          height: 30px;
          color: $mainGreen;
        }
      }
      p{
        margin-top: 0;
        //color: $linkBlue;
        text-decoration: underline;
      }
    }
  }
}

